{% extends 'base.html' %}

{% block title %}Editar cliente{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title mb-3">Editar cliente</h5>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="d-flex gap-2 mt-3">
            <button type="submit" class="btn btn-success">
                Guardar cambios
            </button>

            <a href="{% url 'clientes:detalle' object.pk %}"
               class="btn btn-secondary">
                Cancelar
            </a>
        </div>
    </form>
  </div>
</div>

{% endblock %}
